<!-- Main Page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    
    <!-- rel stand for relationship. stylesheet linkes to a CSS file. href = hypertext reference. -->
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome <%= message %></h1>
        <div class="buttons">
            <div class="option" id="login"><u>Login</u></div>
            <div class="option" id="signup"><u>Sign-up</u></div>
        </div>
    </div>

    <!-- Use source tag to load js file-->
    <script type="module" src="/js_scripts/homepage.js"></script>    
</body>
</html>